<div class='container'>
  <button
    class='btn btn-rounded'
    id='replay'
    type='button'
    {{action this.addGame}}
  >Create New Game</button>
  <h2>List of Games</h2>

  <ul class='list-group list-group-flush'>
    {{#each @model as |game|}}
      <li class='list-group-item'><LinkTo
          @route='games.show'
          @model='{{game.id}}'
        >Game{{game.id}}</LinkTo></li>
    {{/each}}
  </ul>
</div>