{{page-title 'Players'}}

<button type='button' class='btn btn-primary'>Primary</button>

<div class='container'>
  <h2>List of Players</h2>

  <ul>
    {{#each @model as |player|}}
      <li>{{player.name}} - {{player.sign}}</li>
    {{/each}}
  </ul>
</div>